body,
html {
  height: 100%;
}

body {
  overscroll-behavior-y: contain;
  margin: 0;
}

.btn {
  display: none;
}

.btn--run::before {
  content: 'RUN';
}

.btn__zoom--out::before {
  content: '-';
}

.btn__zoom--in::before {
  content: '+';
}

.playing .btn--run::before {
  content: 'STOP';
}

@media (any-pointer: coarse) {
  .btn {
    display: block;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 0;
    font-family: sans-serif;
    color: white;
    background-color: hsl(0deg 0% 20% / 66%);
    padding: 0.5rem 1rem;
    font-size: .75rem;
  }

  .btn__zoom--out {
    left: initial;
    right: 3rem;
  }

  .btn__zoom--in {
    left: initial;
    right: 0rem;
  }
}
